body {
  font-family: 'Roboto', sans-serif;
  background: $mainDarkGrey;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $mainYellow;
  font-weight: 300;
}

.loader {
    border: 15px solid $mainDarkGrey;
    border-top: 15px solid $mainYellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
