body {
  font-family: 'Roboto', sans-serif;
  background: $mainDarkGrey;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $mainYellow;
  font-weight: 300;
}
