.primary-nav {
  padding-top: 10px;

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    @mixin clearfix;
  }

  li {
    list-style: none;
    display: block;
    float: left;
    padding-right: 1px;
  }

  li:last-child {
    padding-right: 0;
  }

  a {
    color: $mainYellow;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .1rem;
    display: block;
    padding: 5px 10px;
    font-size: 1rem;
  }

  button {
    color: $mainYellow;
    cursor: pointer;
    font-weight: 400;
    border: none;
    outline: none;
    letter-spacing: .1rem;
    display: block;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: inherit;
  }
}
