.primary-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: flex;
    vertical-align: middle;
    float: left;
  }

  li:last-child {
    padding-right: 0;
  }

  a {
    color: $mainYellow;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .1rem;
    display: block;
    padding: 5px 10px;
    font-size: 1rem;

    &:hover {
      color: white;
    }

    &.larger {
      text-shadow: 1px 1px 1px white;
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 0.2rem;
    }
  }

  button {
    color: $mainYellow;
    cursor: pointer;
    font-weight: 400;
    border: none;
    outline: none;
    letter-spacing: .1rem;
    display: block;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: inherit;

    &.larger {
      text-shadow: 1px 1px 1px white;
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 0.2rem;
    }

    &:hover {
      color: white;
    }
  }
}
